.subFeature{
    width: 1024px;
    height: 80vh;
    margin: auto;
    text-align: center;
}

.headFeature {
    height: 120px;
}

.feature .cardContainer {
    height: 50%;
    padding-top: 20px;
}

.feature .cardContainer img {
    width: 216px;
}

.cardList {
    width: 300px;
    height: 400px;
    box-shadow: 5px 2px 8px 2px;
}

.cardList:last-of-type img {
    width: 150px;
    height: 140px;
}

.cardList:last-of-type {
    height: 400px;
    padding-top: 35px;
}

.cardList p {
    padding-top: 80px;
    font-size: 36px;
}

.cardList:last-of-type p {
    padding-top: 120px;
}

