
.login {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.block {
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block > div:first-of-type {
    display: flex;
    justify-content: flex-end;
    width:100%;
    height: 40px;
}

.bar1, .bar2 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.bar1 {
    transform: rotate(45deg) translate(19px, -6px);
}

.bar2 {
    transform: rotate(-45deg) translate(-12px);
}


.header {
    height: 40px;
    margin-top: -60px;
    font-size: 24px;
}

.header h1 {
    color: #169DD7;
}

.loginField{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    justify-content: center;
}

.loginField div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid #169DD7;
    margin-top: -20px;
    border-radius: 10px;
}

.loginField input, .loginField button{
    width: 80%;
    outline: none;
    margin-top: 20px;
}

.loginField input {
    border: 1px solid #E6E6E6;
    padding-left: 1%;
}

.loginField button {
    background-color: #169DD7;
    border-radius: 10px;
    border-color: #169DD7;
    font-weight: bold;
    color: white;
    font-size: 18px;
    
}

.loginField p {
    padding-right: 140px;
    margin-top: 5px;
}

