.people {
    background-color: white;
    width: 1320px;
    height: 650px;
    position: absolute;
    top: 68px;
    left: 175px;
}

.people table {
    width: 100%;
    text-align: left;
    margin: auto
}

.people th {
    color: white;
    background-color: #2E94DD;
    padding: 10px 20px 10px 20px;
}

.people td {
    padding: 10px 20px 10px 20px;
}

.people a {
    color: #2E94DD;
    font-weight: bold;
}