.timestamp {
    background-color: white;
    width: 1320px;
    height: 650px;
    position: absolute;
    top: 68px;
    left: 175px;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
    align-items: flex-end;
}

.head select {
    width: 100px;
    height: 20px;
}

.head button {
    border-radius: 36px;
    background-color: #62E057;
    border: none;
    box-shadow: 5px 5px 5px;
    color: white;
    outline: none;
    width: 150px;
    height: 40px;
}

.table {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.table table {
    width: 80%;
    margin: auto;
}

.table th {
    color: white;
    background-color: #2E94DD;
    padding: 10px 20px 10px 20px;
}